node_modules/
yarn-error.log
.env
.nyc_output
coverage
build/
drivers/media_driver/media/
drivers/stt_driver/coqui-stt-0.9.3-models.pbmm
drivers/stt_driver/coqui-stt-0.9.3-models.scorer
media/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
