.drag_things_to_boxes .component_box {
    float: left;
}

.drag_things_to_boxes .box {
	border: 2px solid white;
	border-radius: 4px;
	width: 140px;
	height: 276px;
    margin:10px;
}

.drag_things_to_boxes .highlighted .box {
	box-shadow: inset 0 0 4px #fff;
}